# Server
LAUNDRY_SERVER_HOST=0.0.0.0
LAUNDRY_SERVER_PORT=3000

# Database
LAUNDRY_DATABASE_HOST=localhost
LAUNDRY_DATABASE_PORT=5432
LAUNDRY_DATABASE_USER=golanglaundry
LAUNDRY_DATABASE_PASSWORD=golanglaundry_secret
LAUNDRY_DATABASE_NAME=golanglaundry

# Session
LAUNDRY_SESSION_SECRET=change-me-in-production

# App
LAUNDRY_APP_ENVIRONMENT=development
LAUNDRY_APP_DEBUG=true
